<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login to My Lymphie Diary</title>
</head>
<body>
  <p>Hi,</p>
  <p>Thanks for using My Lymphie Diary. To login please use the link below</p>
  <p><a href="<%= @url %>"><%= @url %></a></p>
</body>
</html>
