<div class="heading">
  <h1>Please provide your email address to begin:</h1>
</div>

<div class="form">
  <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.submit "Next", class:"btn btn-nextpage" %>
  <% end %>
</div>
