/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.border{
  border: 1px solid teal;
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:none;
  text-decoration: none;
}

.flex{
  display:flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.container{
  height:80%;
  /* padding: 3%; */
  /* border: 1px solid green; */
}

.form{
  margin: 1% 3%;
  padding: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  background: white;
  box-shadow: 2px 2px 2px darkgrey;
}
