<p><%= notice %></p>
<h1>Where are you affected by Lymphoedema?</h1>
<p>Choosing a body part allows you to track your measurements over time and better manage your Lymphoedema</p>

<%= render @body_parts %>
<%= link_to "Next", new_user_path %>
