<h1>Where are you affected by Lymphoedema?</h1>
<p>Choosing a body part allows you to track your measurements over time and better manage your Lymphoedema</p>

<%= session[:body_part_ids] %>
<%= render @body_parts %>
