<p><%= notice %></p>
<div class="heading">
  <h1>Where are you affected by Lymphoedema?</h1>
  <p>Choosing a body part allows you to track your measurements over time and better manage your Lymphoedema</p>
</div>

<div class="page-content">
  <%= render @body_parts%>
  <%= link_to "Next", new_user_path, class:"btn btn-nextpage" %>
</div>
